# R and co
.Rhistory
.Rprofile
.Rapp.history
.RData
.Ruserdata
*.Rproj
.Rproj.user
.Rproj.user/
/*.Rcheck/
renv/

# Python and co
_environment
/.micromamba/
/.joblib
/.pytest_cache/
__pycache__/
*.py[cod]
.venv/

# Quarto tmp files
/.quarto/
/*_files
/*_cache
/_freeze
_site/
/cache/

# Quarto extension files
_extensions/
logo_text_white.pdf
logo_notext_white.png

# Quarto output files
*.html
*.pdf
*.tex

# Latex compilation files
*.aux
*.log
*.toc

# Various system files
DS_Store
/.luarc.json
self_contained_modules/


**/*.quarto_ipynb
